.vehicle {
    margin: 0rem auto 3rem auto;
    padding-bottom: .5rem;
    border-bottom: 1px solid;
}

  .vehicle-row {
    display: flex;
    gap: 1rem;
  }

  .vehicle-thumbnail {
  }

  .vehicle-data {
    flex: 1;
  }
  .vehicle-title {
    font-size: 160% !important;
  }
  .vehicle-price {
    text-align: right;
  }
  .vehicle-emission {
    font-size: 75% !important;
  }
  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #cecece;
  }
  
  .table-condensed td,
  .table-condensed th {
    padding: 5px;
  }